<!DOCTYPE html>
<html>
  <head>
    <title>Catflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
     window.garfieldURL = "<%= image_url('garfield.jpg') %>";
     </script>
    <script type="text/javascript">
     window.wpURL = "<%= image_url('wp_back.jpg') %>";
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
